@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&family=Roboto: wght@100;300;400;500;700&display=swap');

body {
    margin: 0;
    font-family: Raleway, sans-serif;
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
    background-color: #5196fd;
}
input {
    outline: 0;
}
@font-face {
    font-family: Gilroy-Bold;
    font-display: swap;
    src: url(../fonts/Gilroy-Bold.woff2) format("woff2"), url(../fonts/Gilroy-Bold.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Gilroy-Medium;
    font-display: swap;
    src: url(../fonts/Gilroy-Medium.woff2) format("woff2"), url(../fonts/Gilroy-Medium.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Gilroy-Regular;
    font-display: swap;
    src: url(../fonts/Gilroy-Regular.woff2) format("woff2"), url(../fonts/Gilroy-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Gilroy-SemiBold;
    font-display: swap;
    src: url(../fonts/Gilroy-SemiBold.woff2) format("woff2"), url(../fonts/Gilroy-SemiBold.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
header {
    margin-top: 0;
}
.header {
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #5196fd;
    height: 100vh;
    width: 20%;
    background-color: #fff;
    position: fixed;
    border-right: #5196fd solid 3px;
}
.logo h4 {
    text-decoration: none;
    font-size: 18px;
    width: 90%;
    margin-top: 40px;
    margin-left: 15px;
    padding-bottom: 15px;
    border-bottom: 3px solid #5196fd;
}
.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 15px;
}
.nav-list {
    padding-left: 0;
}
.nav-list__item {
    margin-bottom: 20px;
    padding-bottom: 5px;
    list-style-type: none;
    list-style-position: outside;
}
.nav-list__item a {
    display: block;
    width: 80%;
    text-decoration: none;
    color: #5196fd;
    font-size: 20px;
    padding-left: 10px;
    border-left: 3px solid #5196fd;
}
.nav-list__item a:active {
    border-bottom: 3px solid #5196fd;
}
.nav-list__item a:hover {
    border-bottom: 3px solid #5196fd;
    border-left: 0;
    padding-left: 20px;
    padding-bottom: 10px;
    -webkit-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in;
}
.nav-list__item a:visited {
    border-bottom: 3px solid #5196fd;
}
.mobile-menu {
    display: none;
}
.mobile-menu.show-menu {
    margin-top: 100px;
    position: fixed;
}
.navigation-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%}
.nav-list-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 100%}
.nav-list__item-mob {
    color: #5196fd;
    font-size: 23px;
    line-height: 40px;
    text-transform: uppercase;
    list-style: none;
    margin-right: 20px;
    margin-bottom: 10px;
}
.nav-list__link-mob {
    text-decoration: none;
    color: #5196fd;
    font-family: Raleway, sans-serif;
    border-right: 2px solid #5196fd;
    padding-right: 10px;
}
.header-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%}
.header-burger {
    display: none;
}
.autorization-main {
    width: 100%;
    height: 100vh;
    background-color: #5196fd;
    border: 0;
    margin: 0;
}
.block-form-autorization {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%}
.form-autorization {
    width: 40%;
    height: 350px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    border-radius: 20px;
}
.form-autorization-input {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.input-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 10px;
}
.mail p {
    color: rgb(3, 189, 3);
    margin-top: 5px;
}
.text-field__label {
    margin-top: 10px;
    font-size: 18px;
}

.button_block {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.btn1 {
    display: inline-block; 
    box-sizing: border-box;
    padding: 0 20px;
    outline: none;
    border: none !important; 
    border-radius: 10px;
    height: 25px !important;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background-color: #dda406;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation; 
    vertical-align: top;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn1:hover {
    background-color: #8d6c00;
}
.btn1:active {
    background-color: #deec0e !important;
}
.btn1:focus-visible {
    box-shadow: 0 0 0 3px lightskyblue;
}
.btn1:disabled {
    background-color: #6c87b5;
    pointer-events: none;
}
.modal-block {
  width: 100% !important;
}
.input-block input {
    width: 100%;
    height: 25px;
    border-color: #5196fd;
    border: 0;
    border-bottom: #5196fd 3px solid;
}
.input-block input::-webkit-input-placeholder {
    font-size: 18px;
    color: #5196fd;
}
.input-block input::-moz-placeholder {
    font-size: 18px;
    color: #5196fd;
}
.input-block input:-ms-input-placeholder {
    font-size: 18px;
    color: #5196fd;
}
.input-block input::-ms-input-placeholder {
    font-size: 18px;
    color: #5196fd;
}
.input-block input::placeholder {
    font-size: 18px;
    color: #5196fd;
}
.input-block input:focus {
    border: 3px solid #5196fd;
    border-radius: 40px;
}
.input-block input:focus::-webkit-input-placeholder {
    color: transparent;
}
.input-block input:focus::-moz-placeholder {
    color: transparent;
}
.input-block input:focus:-ms-input-placeholder {
    color: transparent;
}
.input-block input:focus::-ms-input-placeholder {
    color: transparent;
}
.input-block input:focus::placeholder {
    color: transparent;
}
.checkbox-block {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 10px;
}
.checkbox-block__item {
    margin-bottom: 10px;
}
.autorization-enter {
    border-radius: 10px;
    border: 0;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #fff;
    background-color: #5196fd;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}
.form-autorization-input a {
    font-size: 18px;
    color: #5196fd;
    text-decoration: none;
    margin-top: 20px;
}
.reg-main {
    width: 100%;
    height: 100vh;
    background-color: #5196fd;
    border: 0;
    margin: 0;
}
.block-form-reg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%}
.form-reg {
    width: 40%;
    height: 450px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    border-radius: 20px;
}
.form-reg-input {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.input-block input:focus {
    border: 3px solid #5196fd;
    border-radius: 40px;
}
.reg-enter {
    border-radius: 10px;
    border: 0;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #fff;
    background-color: #5196fd;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}
.form-reg-input a {
    font-size: 18px;
    color: #5196fd;
    text-decoration: none;
    margin-top: 20px;
}
.info-main {
    width: 80%;
    height: 100vh;
    padding-left: 20%;
    background-color: #5196fd;
    border: 0;
    margin: 0;
}
.block-form-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%
}
.form-info {
    width: 60%;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.form-info-input {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.input-block input {
    width: 100%;
    height: 25px;
    border-color: #5196fd;
    border: 0;
    border-bottom: #5196fd 3px solid;
    -webkit-appearance: none;
}
.input-block input:focus {
    border: 3px solid #5196fd;
    border-radius: 40px;
}
.input-block__date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    margin-bottom: 20px;
    border-color: #5196fd;
    border: 0;
    border-bottom: #5196fd 3px solid;
    -webkit-appearance: none;
}
.input-block__date:focus {
    border: 3px solid #5196fd;
    border-radius: 40px;
}
.input-block__date p {
    font-family: Raleway, sans-serif;
    color: #5196fd;
    width: 20%}
.input-block__date input {
    width: 100%;
    border: none;
    background-color: transparent;
}
.info-enter {
    border-radius: 10px;
    border: 0;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #fff;
    background-color: #5196fd;
    margin-bottom: 15px;
    padding: 10px;
}
.form-info-input a {
    font-size: 18px;
    color: #5196fd;
    text-decoration: none;
    margin-top: 20px;
}
.my-main {
    width: 80%;
    padding-left: 20%;
    background-color: #5196fd;
    border: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.my-block {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: center;
    align-self: center;
}
.my-block__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.my-block__header {
    font-size: 20px;
    text-transform: uppercase;
    color: #5196fd;
    text-align: center;
}
.table {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .185);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .185);
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: Roboto, sans-serif;
}
.table td, .table th {
    text-align: center;
    padding: 10px;
}
td {
    border-bottom: 0 solid #000;
}
.table th {
    background-color: #5196fd;
    color: #fff;
}
.table th:nth-child(odd) {
    background-color: #0064fae1;
}
.table tr:nth-child(even) {
    background-color: #f5f5f5;
}
.table tr {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.table tr:hover {
    background-color: #5196fd;
    color: #fff;
}
.table td:not(:last-child) {
    border-right: 1px #c9c9c9cb solid;
}
.table tfoot {
    border-top: 1px solid #5196fd;
}
.charts {
    width: 100%;
    height: 550px;
    margin-bottom: 20px;
    margin-top: 20px;
}
@media (max-width:750px) {
    .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100px;
    width: 100%}
.logo h4 {
    font-size: 16px;
    margin-top: 20px;
    padding-bottom: 5px;
    width: 100%}
.navigation {
    display: none;
}
.nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.nav-list__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.nav-list__item a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background-color: #fff;
    z-index: 15;
    position: absolute;
    margin-top: -200%;
    border-bottom: 2px #0064fae1 solid;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
}
.header-burger {
    display: block;
    width: 40px;
    height: 30px;
    padding: 0;
    background: 0 0;
    border: none;
    font-size: 0;
    color: transparent;
}
.header-burger span, .header-burger:after, .header-burger:before {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #5196fd;
    left: 0;
    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
}
.show-menu .header-burger span {
    opacity: 0;
}
.show-menu .header-burger:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-bottom: 0;
}
.show-menu .header-burger:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -5px;
}
.header-burger:after, .header-burger:before {
    content: "";
    -webkit-transition: -webkit-transform .2s linear;
    transition: -webkit-transform .2s linear;
    -o-transition: transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear;
}
.header-burger:before {
    top: 0;
    margin-bottom: 7px;
}
.header-burger:after {
    bottom: 0;
    margin-top: 7px;
}
.form-autorization {
    width: 90%;
    height: 450px;
}
.input-block {
    width: 80%;
    height: 65px;
}
.mail {
    height: 80px ;
}

.input-block input {
    height: 45px;
    font-size: 16px;
}
.form-reg {
    width: 90%;
    height: 550px;
}
.info-main {
    padding-left: 0;
    width: 100%}
.form-info {
    width: 90%;
}
.input-block__date {
    width: 80%}
.my-main {
    width: 100%;
    padding-left: 0;
}
.my-block {
    margin-top: 80px;
    width: 95%;
    overflow: hidden;
}
.table {
    overflow-x: auto;
    padding: 0;
}
.my-table {
    width: 85%;
    overflow-x: auto;
}
.table td, .table th {
    padding: 3px;
    font-size: 13px;
}
.charts {
    display: none;
}
.checkbox-block {
    width: 80%;
}
}